{% extends 'RaisinRatings/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a Review to {{ movie.movie_name }}
{% endblock %}

{% block body_block %}
    <div class="container p-5 text-center">
        <h2 class="display-4">Add a Movie</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-6 bg-light">
                    <div class="card-body">
                        <form role="form" id="page_form" method="post">
                            {% csrf_token %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% for field in form.visible_fields %}
                                {{ field.errors }}
                                {{ field.help_text }}<br />
                                {{ field }}<br />
                                <div class = "p-2"></div>
                            {% endfor %}
                                <br />
                            <button class="btn btn-primary" type="submit" name="submit">Save</button>
                            <div class="p-5"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}