{% extends 'RaisinRatings/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add a Review to {{ movie.movie_name }}
{% endblock %}

{% block body_block %}
    <div class="container p-5 text-center">
        <h2 class="display-4">Add a Movie</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-6 bg-light">
                    <div class="card-body">
                        <div class="form-group">
                            <form role="form" id="page_form" method="post">
                                {% csrf_token %}

                                <!-- old fields
                                    {% for hidden in form.hidden_fields %}
                                    {{ hidden }}
                                    {% endfor %}
                                    {% for field in form.visible_fields %}
                                        {{ field.errors }}
                                        {{ field.help_text }}<br />
                                        {{ field }}<br />
                                        <div class = "p-2"></div>
                                    {% endfor %} -->
                                <input type="hidden" name="slug" id="id_slug">
                                <div class="form-group">
                                    <p class="required">
                                        <label class="required" for="id_movie_name">Movie name:</label>
                                        <input class="form-control" type="text" name="movie_name" maxlength="128" required="" id="id_movie_name">
                                    </p>
                                    <p>
                                        <label class="required" for="id_main_actor">Main actor:</label>
                                        <input class="form-control" type="text" name="main_actor" maxlength="128" required="" id="id_main_actor" />
                                    </p>
                                    <p>
                                        <label class="required" for="id_username">Username:</label>
                                        <input class="form-control" type="text" name="username" maxlength="128" required="" id="id_username" />
                                    </p>
                                    <p>
                                        <label class="required" for="id_summary">Summary:</label><br />
                                        <textarea class="form-control textarea" type="text" name="summary" maxlength="500" required="" id="id_summary" rows="3"></textarea>
                                    </p>
                                    <!-- uncomment when poster is integrated -->
                                    <!-- <p>
                                        <label for="id_poster">Upload poster:</label>
                                        <input class="form-control-file" type="file" name="poster" required="" id="id_summary">
                                    </p> -->
                                    <br />
                                </div>
                                <button class="btn btn-primary" type="submit" name="submit">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}