{% extends 'RaisinRatings/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category }}
{% endblock %}

{% block body_block %}
    <h1> {{ category }} </h1>
    <div> 
        <button id = "like_btn"
                data-categoryname = "{{ name }}"
                class = "btn btn-primary btn-sm"
                type = "button">
            <span data-feather = "thumbs-up"></span>
            Like Category
            </button>
    </div> 
        <div><strong> {{ likes }} </strong> likes </div>
        <div> {{ description }}</div>
        <div> 
            {% if movies %}
            {% for movie in movies %}
            <li><a href="{% url 'RaisinRatings:show_movie' movie.slug%}">{{movie.movie_name}}</a></li> 
            {% endfor %}
            {% else %}
            <strong>There are no movies in this category</strong>
            {% endif %}
        </div> 
{%  endblock %}