<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head> 
        <title>Specific Category</title>
    </head>

    <body>
        <h1>RaisinRatings says...</h1> 
        <div>
            this is a specific category page. <br />
            <strong>{{ boldmessage }}</strong><br /> 
        </div>
        <div>§
            <a href="/RaisinRatings/">Return to all categories</a><br />
            <img src="{% static 'images/cd.jpeg' %}"
            alt="Picture of cats" />
            <img src="/media/china.jpg" 
            alt="Picture of a temple" />
        </div> 
    </body>
</html>