{% extends 'RaisinRatings/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Categories
{% endblock %}

{% block body_block %}

    <div class="container p-5 text-center">
        <h2 class="display-4">Categories</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-6 bg-light">
                    <div class="card-body">
                        <h2 class="font-weight-light">Most Liked Categories</h2>
                        <p class="card-text">
                        {% if categories %}
                            {% for c in categories %}
                            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <a class="text-dark" style="display:block;height:100%;width:100%;text-decoration:none" href="{% url 'RaisinRatings:category' c.slug %}">{{ c.name }}</a>
                                <span class="badge badge-secondary badge-pill">{{ c.likes }} likes</span>
                            </li>
                            {% endfor %}
                        {% else %}
                            <strong>There are no categories yet</strong>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}