{% extends 'RaisinRatings/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add movie 
{% endblock %}

{% block body_block %}

 <!-- <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
 </form>  
  -->

<div class="container p-5 text-center">
    <h2 class="display-4">Edit Movie</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-6 bg-light-brand">
                <div class="card-body">
                    <div class="form-group">
                        <form role="form" id="movie_form" method="post" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            {% for field in form.visible_fields %}
                                {% if field.errors %}
                                    There was an error with field {{ field.name }}
                                    {{ field.errors }}
                                {% endif %}
                            {% endfor %}

                            <input type="hidden" name="slug" id="id_slug">
                            <div class="form-group">
                                <p class="required">
                                    <label class="required" for="id_movie_name">Movie name:</label>
                                    <input class="form-control" type="text" name="movie_name" maxlength="128" required="" id="id_movie_name" value="{{ movie.movie_name }}" />
                                </p>
                                <p>
                                    <label class="required" for="id_main_actor">Main actor:</label>
                                    <input class="form-control" type="text" name="main_actor" maxlength="128" required="" id="id_main_actor" value = "{{ movie.main_actor }}" />
                                </p>
                                <p>
                                    <label class="required" for="id_summary">Summary:</label><br />
                                    <textarea class="form-control textarea" type="text" name="summary" maxlength="500" required="" id="id_summary" rows="3">{{movie.summary}}</textarea>
                                </p>
                                <p>
                                    <label class="required" for="id_trailer_link">Trailer Link:</label>
                                    <input class="form-control" type="text" name="trailer_link" maxlength="128" id="id_trailer_link" value="{{ movie.trailer_link }}" />
                                </p>
                                <p>
                                    <label for="id_poster"> Poster:</label> <br />
                                    <label>Currently: <a href="{{ MEDIA_URL }}{{ movie.poster }}">{{ movie.poster }}</a></label>
                                    <input type="checkbox" name="poster-clear" id="poster-clear_id">
                                    <label for="poster-clear_id">Clear</label>
                                        <p>Change:</p>
                                        <input class="form-control-file" type="file" accept="image/*" name="poster" id="id_poster">
                                </p> 

                                <p>
                                    <label for="{{ form.category.id_for_label }}">Add to Category:</label>
                                    <select name="{{ form.category.name }}" required id="{{ form.category.id_for_label }}">
                                        {% for category in form.category.field.queryset %}
                                            {% if category.id is movie.category.id %}
                                            <option value="{{ category.id }}" selected>{{ category.name }}</option>
                                            {% else %}
                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </p>
                                <br />
                            </div>
                            <button class="btn btn-primary" type="submit" name="submit">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}

