{% extends 'RaisinRatings/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
    <!-- 
    <div>
        {% if user.is_authenticated %}
            hey {{ user.username }}!
        {% else %}
            you are not logged in
        {% endif %}
        <br />
    </div> -->

    <div>
        <h2>Most Liked Categories</h2>
        {% if categories %}
            <ul>
            {% for c in category %}
                <li>
                    <a href="">{{ c.name }}</a>
                    
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </div>

    <div>
        <h2>Most Viewed Movies</h2>
        {% if movies %}
            <ul>
            {% for movie in movies %}
                <li>
                    <p> <strong><a href="{% url 'RaisinRatings:show_movie' movie.slug %}">{{ movie.movie_name }}</a> </strong>
                    {{ movie.likes }} likes </p>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no movies present.</strong>
        {% endif %}
        </div>
{% endblock %}