{% extends 'RaisinRatings/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block body_block %}
     

<div class="container p-5 text-center">
    <h2 class="display-4">Rasin Ratings</h2>
</div>


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-6 bg-light">
                    <div class="card-body">
                        <h2 class="font-weight-light">Most Liked Categories</h2>
                        <p class="card-text">
                        {% if categories %}
                            <ul class="list-group">
                            {% for category in categories %}
                                <li class="list-group-item">
                                    <a href="">{{ category.name }}</a>
                                    <p>likes: {{ category.likes}}</p>
                                </li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <strong>There are no categories present.</strong>
                        {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-6 bg-light">
                    <div class="card-body">
                        <h2 class="font-weight-light">Most Viewed Movies</h2>
                        <p class="card-text">
                            {% if movies %}
                            <ul class="list-group">
                            {% for movie in movies %}
                                <li class="list-group-item">
                                    <a href="{% url 'RaisinRatings:show_movie' movie.slug %}">{{ movie.movie_name }}</a> 
                                    <p>likes: {{ movie.likes }}</p>
                                </li>
                            {% endfor %}
                            </ul>
                            {% else %}
                                <strong>There are no movies present.</strong>
                            {% endif %}
                        </p>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}