{% extends 'RaisinRatings/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ movie.movie_name }}
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-6 bg-light">
                <div class="card-body ">
                    <div class="media">
                        <img class="mr-3 rounded" alt="{{movie.movie_name}}'s movie poster" width="250" src="{{ MEDIA_URL }}{{ movie.poster }}">
                        <div class="media-body">
                            <br />
                            {% if user.userprofile.user_type == "CRITIC" %}
                            <a class="btn btn-outline-secondary btn-sm" role="button" href="{% url 'RaisinRatings:add_review' movie.slug %}">Add review</a>
                            {% endif %}
                            <a class="btn btn-outline-secondary btn-sm" role="button"href="{% url 'RaisinRatings:like_movie' movie.slug %}">
                                <span data-feather="thumbs-up"></span>
                                Like
                            </a>
                            <a class="btn btn-outline-secondary btn-sm" role="button"href="{% url 'RaisinRatings:dislike_movie' movie.slug %}">
                                <span data-feather="thumbs-down"></span>
                                Dislike
                            </a>
                            {% if movie.user == user %}
                            <a class="btn btn-outline-secondary btn-sm" role="button"href="{% url 'RaisinRatings:delete_movie' movie.slug %}">
                                <span data-feather="trash-2"></span>
                                Delete

                            <a class="btn btn-outline-secondary btn-sm" role="button"href="{% url 'RaisinRatings:edit_move' movie.slug %}">
                                <span data-feather="edit-3"></span>
                                Edit
                            </a>
                            {% endif %}
                            <h1 class="font-weight-light">{{ movie.movie_name }}</h1>
                            <p>
                                <div>Number of likes: <strong>{{ likes }}</strong></div>
                                <div>Main Star: <strong>{{ movie.main_actor }}</strong></div>
                                <div>Category:  <strong>{{ movie.category }}</strong> </div>
                                <div>Added by: <strong> {{ movie.user }}</strong></div>
                            </p>

                            <p>
                                <div> {{movie.summary}} </div>
                            </p>
                            <p>
                                    <div>Trailer: {{ trailer_link }} </div>
                            </p>
                            <p>
                                    <div>
                                        <iframe width="420" height="315"
                                            src= {{ trailer_link }} allowfullscreen>
                                        </iframe>
                                    </div>
                            </p>
                            <p>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-6 bg-light">
                <div class="card-body">
                    <h3 class="font-weight-light">Reviews</h3>
                    <div>
                        {% if reviews %}
                        <ul class="list-group">
                        {% for r in reviews %}
                        <li class="list-group-item">
                            <strong> {{ r.title }} </strong>
                            <div>
                              --  {{r.username}}
                            </div>
                            <br/>
                                {{r.review}}
                        </li>
                        {% endfor %}
                        </ul>
                        {% else %}
                        There are no reviews for this movie
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
