{% extends 'RaisinRatings/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ movie.movie_name }}
{% endblock %}

{% block body_block %}
<div>
    
    
    <div>
        <a href="{% url 'RaisinRatings:add_review' movie.slug %}">Add review</a>
        <a href="{% url 'RaisinRatings:like_movie' movie.slug %}">Upvoat</a>
        <a href="{% url 'RaisinRatings:dislike_movie' movie.slug %}">Downvoat</a>
        
        
    </div>

    <p>
        <p>
            {% if movie.username == user %}
            <div> <strong> Movie added by you </strong></div>
            <a href="{% url 'RaisinRatings:delete_movie' movie.slug %}"> Delete Movie </a>
            <div> </div>
            <a href=""> Eddit Movie </a>
            {% else %}
            <div> <strong> Movie added by {{ movie.username }} </strong> </div>
            {% endif %}
        </p>
        <div><h1>{{ movie.movie_name }}</h1></div>
        <div>Votes: <strong>{{ likes }}</strong></div>
        <div>Main Star: <strong>{{ movie.main_actor }}</strong></div>
        <div>Category: <strong>{{ movie.category }}</strong></div>
        
    </p>
    <div> 
        <div>
        <hr />
        <h2>Reviews</h2>
        <div>
        {% if reviews %}
                {% for r in reviews %}
                <p>
                    <ul> 
                    <strong> {{ r.title }} </strong> 
                    <div>
                    {{r.review}}
                    </div>
                    <div>
                        --  {{r.username}}
                    </div>
                    </ul>
                </p>
                {% endfor %}
            {% else %}
            There are no reviews for this movie 
            {% endif %}
        </div>
    </div>
   
             
    </div>
    
</div>
{% endblock %}


