{% extends 'RaisinRatings/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search
{% endblock %}


{% block body_block %}
<script src="search.js"></script>
<div class="container p-5 text-center">
    <h2 class="display-4">Search with RaisinRatings</h2>
    <h3 class="font-weight-light">Find out more about your favourite movies here!</h2>
</div>
<form class="form-inline "
    id="user-form"
    method="post"
    action="{% url 'RaisinRatings:search' %}">
    {% csrf_token %}

    <div class="form-group m-auto">
        <input class="form-control"
            type="text"
            size="50"
            name="query"
            id="query"
            value="{{ search_term }}"
        />
        <button class="btn btn-dark"
            type="sumbit"
            name="submit"><span data-feather="search"></span>Search</button>
    </div>
</form>
<div class="p-3"></div>

{% if result_list %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-6 bg-light-brand">
                <div class="card-body ">
                    <div>
                        <h2 class="font-weight-light">Results</h2>
                        <div class="list_group">
                            {% for result in result_list %}
                            <div class="list-group-item">
                                <h3 class="list-group-item-heading">
                                    <a href="{{ result.link }}" target="_blank">
                                        {{ result.title|safe|escape }}
                                    </a>
                                </h3>
                                <p class="list-group-item-text">
                                    {{ result.summary|safe|escape }}
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
