{% extends 'RaisinRatings/base.html' %}
{% load staticfiles %}

{% block title_block %}
{{ page_user.username }}
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-6 bg-light-brand">
                <div class="card-body ">
                    <div class="d-flex align-items-end">
                        <div class="flex-shrink-0">
                            {% if page_user.userprofile.picture %}
                            <img class="rounded" alt="{{ page_user.username }}'s profile picture" width="250" src="{{ MEDIA_URL }}{{ page_user.userprofile.picture }}">
                            {% else %}
                            <img class="rounded" alt="{{ page_user.username }}'s profile picture" width="250" src="{% static 'images/default_profile/default.png' %}">
                        {% endif %}
                        </div>
                        <div class="flex-grow-1 ml-3">
                            <h1 class="font-weight-light">{{ page_user.username }}</h1>
                            <p>User type: {{ page_user.userprofile.user_type }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <br />
    <h1 class="font-weight-light">Your movies:</h1>
    {% if movies %}
    <div class="container" style="text-align: center;">
        <div class="m-auto p-3">
            {% for movie in movies %}
                <div class="card mb-3 mr-3 bg-light" style="width:15rem; display: inline-block;" >
                    <a style="display:block;height:100%;width:100%;text-decoration:none" href="{% url 'RaisinRatings:show_movie' movie.slug%}">
                        <img class="card-img-top mr-3" style="width: 100%; height:320px;" alt="{{movie.movie_name}}'s movie poster" width="100%" src="{{ MEDIA_URL }}{{ movie.poster }}">
                        <div class="card-body p-0">
                            <p class="card-text">
                                <p class="text-dark mb-0">
                                    {{movie.movie_name}}
                                </p>
                                <span class="badge badge-secondary badge-pill">{{ movie.likes }} likes</span>
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    {% if page_user.username == user.username %}
    <p>You haven't liked any movies</p>
    {% else %}
    <p>{{page_user.username}} hasn't liked any movies</p>
    {% endif %}
    {%endif%}
</div>
<hr>
<div class="container">
    <br />
    <h1 class="font-weight-light">Recently viewed movies:</h1>
    {% if recently_viewed %}
    <div class="container" style="text-align: center;">
        <div class="m-auto p-3">
            {% for movie in recently_viewed %}
                <div class="card mb-3 mr-3 bg-light" style="width:15rem; display: inline-block;" >
                    <a style="display:block;height:100%;width:100%;text-decoration:none" href="{% url 'RaisinRatings:show_movie' movie.slug%}">
                        <img class="card-img-top mr-3" style="width: 100%; height:320px;" alt="{{movie.movie_name}}'s movie poster" width="100%" src="{{ MEDIA_URL }}{{ movie.poster }}">
                        <div class="card-body p-0">
                            <p class="card-text">
                                <p class="text-dark mb-0">
                                    {{movie.movie_name}}
                                </p>
                                <span class="badge badge-secondary badge-pill">{{ movie.likes }} likes</span>
                            </p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    {% if page_user.username == user.username %}
    <p>You haven't viewed any movies</p>
    {% else %}
    <p>{{page_user.username}} hasn't viewed any movies</p>
    {% endif %}
    {%endif%}
</div>

{% endblock %}